.form-container {
    padding-top: 3em;
}

form {
    padding-top: .5em;
}

.select-left {
  padding-right: .5em;
}

.select-right {
  padding-left: .5em;
}

.sentence-element {
    padding-left: .5em;
    padding-bottom: .5em;
}

.sentence-input {
    margin-bottom: 1em;
}

button {
    margin-top: 1em;
    width: 100%;
}

.sentence-element-delete {
    float: right;
}
